body, html {
	background-color: #ffffff;
	height: 100%;

	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

h3, h4 {
	font-family: 'Manrope', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 30px;
	position: static;
}

a {
	font-size: 20px;
	padding: 15px;
	color:#0400ff;
	text-decoration: none;
}

.create-line1 {
	width: 3000px;
	border-top: 1px solid #eeeeee;
  }

.logo {
	margin-left: auto;
	margin-right: auto;
}

.bg {
	margin-left: auto;
	margin-right: auto;
	border-radius: 55px;
	width: 70%;
}

.site-title {
	font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
	margin-top: 3%;
	color: #000000;
}

@media (max-width: 980px){
	.site-title  {
		font-size:2rem;
		margin-top: 5%;
	}
}

.bt{
	border-radius: 15px;
	width: 250px;
	height: 50px;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin: auto;
	display: block;
	margin-top: 3%;
	margin-bottom: 3%;
}

.bt:hover{
	transform: scale(1.05);
	border-color: #0400ff;
	background-color: #d1d1d1;
}

.btn-primary{
	border-radius: 15px;
	width: 150px;
	height: 50px;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin: auto;
	display: block;
	margin-top: 3%;
	margin-bottom: 3%;
}

.btn-primary:hover{
	transform: scale(1.05);
	border-color: #0400ff;
	background-color: #d1d1d1;
}

.lead {
	margin-bottom: 5%;
}

.product-img {
	width: 265px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.item-title {
    font-size: 1.5rem;
    font-weight: 500;
	font-family: 'Manrope', sans-serif;
	min-height: 70px;
}

@media (max-width: 980px){
	.item-title  {
		font-size: 1.2rem;
		min-height: auto;
	}
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Manrope', sans-serif;
	background: #ffffff;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
    background: #0400ff;
    color: #FFF;
	transform: scale(1.05);
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
	width: 90px;
	font-size: 16px;
	height: 26px;
	text-align: center;
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

.price {
	text-align: left;
}

.price__weight {
	color: #6c757d!important;
	font-size: 80%;
	line-height: 1;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.btn-outline-warning {
    color: #0400ff;
    border-color: #0400ff;
}

.btn-outline-warning:hover {
    color: #FFF;
    background-color: #0400ff;
    border-color: #0400ff;
	transform: scale(1.05);
}

.cart-item__top {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
}

.cart-item__img img {
	max-width: 100px;
	height: auto;
}

.cart-item__desc {
	padding-top: 15px;
	padding-left: 15px;
	max-width: 208px;
}

.cart-item__title {
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}

.cart-total {
	font-size: 18px;
	font-weight: 500;
}

.free {
	color: #0EA107;
}

.total-price {
	color: #0400ff;
}

.rouble {
	color: #0400ff;
}

.none {
	display: none;
}

.create-line2 {
	width: 3000px;
	border-top: 1px solid #eeeeee;
  }

#gtco-footer 
  #gtco-footer .gtco-footer-subscribe .btn 
  {
	margin-top: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	height: 54px !important;
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px !important;
	padding-right: 10px !important;
  }
  #gtco-footer .gtco-copyright 
  {
	padding: 30px 0;
	float: left;
	width: 100%;
  }
  #gtco-footer .gtco-copyright p 
  {
	font-family: 'Manrope', sans-serif;
  }
  #gtco-footer .gtco-copyright p:last-child 
  {
	margin-bottom: 0;
  }
  




body::-webkit-scrollbar{
	width: 9px;

}

body::-webkit-scrollbar-track{
	background-color: #ffffff;
}

body::-webkit-scrollbar-thumb{
	background-color: #000000;
	border-radius: 20px;
}